.enclosing-div__2{

    color:black;
    padding: 2px 2px 5px 2px;
    margin-bottom: 10px;
    border-top:1px solid #999 ;

}

.enclosing-div__1{
    padding: 0 0 0 5px;
    text-align: left;

    transform: translateY(3px);
    color: #777;
}

.enclosing-div{
 
    background-color: white;
    text-align: center;
    width: 300px;
    max-width: 350px;
    margin: 20px 0;

    box-shadow: 2px 2px rgba(0,0,0,0.15);
}

.image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}

.float-img{
    float: left;
    margin-left: 10px;
    margin-top: 20px;
}

.para-color{
    color:#276678;
    transform: translateY(-8px);
}